{
	"arrowParens": "avoid",
	"semi": false,
	"useTabs": true,
	"tabWidth": 2,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"trailingComma": "none",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/screens/(.*)$",
		"^@/components/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/configs/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}