.profile {
	@apply island-10 mb-6 transition-transform;
	max-width: 210px;
	> ul {
		@apply pt-0 transition-transform;
	}
	> .info {
		@apply flex items-center p-3 justify-between transition-transform;
		> svg {
			@apply cursor-pointer fill-gray-300;
		}
		> a {
			@apply flex gap-4 items-center font-medium;
			font-size: 14px;

			> span {
				@apply flex gap-1;
				> span {
					@apply truncate;
					max-width: 98px;
				}
			}
		}
	}
}
