.header {
	@apply pt-6 pb-2 border-b-2 border-gray-800;
}

.container {
	@apply grid;
	grid-template-columns: 30px 250px;
	height: 30px;
	max-width: 1200px;
	margin: 0 auto;
	grid-column-gap: 225px;
}
